<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<style>
    .backgroundBlue{
        background-color: #2e4775;
    }
    .buttonColor{
        color: #0c2a61;
    }
    .textColor{
        color: #eb8560;
    }
    .headColor{
        color: #ec5017;
    }
</style>
<body class = "font-serif">
        <!--Create Account page-->
        <div class="flex flex-col items-center justify-center min-h-screen backgroundBlue">
            
            <h1 class="text-center font-bold text-3xl textColor mb-4">Create a User</h1>
            {% if error != None %}
                <h2>{{ error }}</h2>
            {% endif %}

     <!--Create User fourm-->
     <!--TODO add in password requirements-->
     <form method="post" class="flex flex-col items-center space-y-2">
        <label class="textColor">Username</label>
        <input name="username" type="text" class="block border border-gray-300 p rounded"/>
        <br/>
        <label class="textColor">Email</label>
        <input name="email" type="email" class="block border border-gray-300 p rounded"/>
        <br/>
        <label class="textColor">Password</label>
        <!--TODO add a visible button for user to see password-->
        <input name="password"maxlength="50" type="password" class="block border border-gray-300 p rounded"/>
        <br/>
        <label class="textColor">Confirm Password</label>
        <input name="confirm_password" type="password" class="block border border-gray-300 p rounded"/>
        <br/>
        <input value="Submit" type="submit" class="textColor font-bold py-2 px-6 rounded-full cursor-pointer hover:bg-orange-600"/>
    </form>

</body>