<!DOCTYPE html>
<head>


</head>
<body>
    <h1>Create a user!</h1>

     <!--Create User fourm-->
     <!--TODO add in password requirements-->
     <form method="post">
        <label>Username</label>
        <input name="username" type="text"/>
        <br/>
        <label>Email</label>
        <input name="email" type="email"/>
        <br/>
        <label>Password</label>
        <input name="password" type="password"/>
        <br/>
        <label>Confirm Password</label>
        <input name="confirm_password" type="password"/>
        <br/>
        <input value="Submit" type="submit"/>
    </form>

</body>