<!DOCTYPE html>
<head>
    <link href="{{url_for('static', filename='css/tailwindOUT.css')}}" rel="stylesheet"/>
</head>
<body>
    <h1>Login page!</h1>

    <!--Login fourm-->
    <form method="post">
        <label>Username</label>
        <input name="username" type="text"/>
        <br/>
        <label>Password</label>
        <input name="password" type="password"/>
        <br/>
        <input value="Submit" type="submit"/>
    </form>

    <a href="/register">Create an account</a>

</body>